*                       @centreon/owners-connectors

.github/**              @centreon/owners-pipelines

.gitleaks.toml          @centreon/owners-security
.gitleaksignore         @centreon/owners-security
**/secu-*.yml           @centreon/owners-security
